@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


// html, body { height: 100%; }
// body { margin: 0; font-family: monospace, "Helvetica Neue", monospace; }

.error-snackbar {
    background: #d50000;
  }
  
  .success-snackbar {
    background: #000a01;
  }

  * {
    &:active,
    :focus {
      outline: none !important;  // 1
    }
  }
  
  a:not(.mat-button):not(.mat-raised-button):not(.mat-fab):not(.mat-mini-fab):not([mat-list-item]) {
      color: #3f51b5; // 2
    }
